body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: rgb(1, 43, 121);
}
.app-placer {
  background-color: rgb(121, 223, 223);
  width: 600px;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.input-box {
  background-color: rgb(236, 242, 252);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 18px;
  padding: 10px 20px;
}
.submit-box {
  background-color: rgb(235, 228, 139);
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  font-size: 18px;
  padding: 10px 20px;
}
.app-placer footer {
  border-top: 1px solid#b8a1f3;
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
.weather-body {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid#b8a1f3;
  margin-top: 20px;
}
.weather-info {
  margin-top: 15px;
}

.weather-temperature {
  display: flex;
  justify-content: space-between;
  font-weight: 550;
  color: black;
  margin-top: 15px;
  margin-right: 10px;
}
strong {
  color: rgb(214, 2, 37);
}

.weather-temperature span {
  display: block;
}
.weather-digit {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 88px;
}
.weather-unit {
  font-size: 25px;
  margin-top: 25px;
}
.weather-icon {
  margin-top: 20px;
  width: 80px;
  height: 80px;
}

p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
/*.forecast {
  display: flex;
}*/
.forecast-info {
  text-align: center;
  margin: 20px 0;
}
.forecast {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px;
}
.forecast-day {
  color: rgba(0, 0, 0, 0.6);
}
.forecast-icon {
  font-size: 40px;
}
.first-temp {
  color: rgb(214, 2, 37);
  font-weight: 900;
  padding-right: 10px;
}

.second-temp {
  color: rgb(214, 2, 37);
  font-weight: 400;
}
